ca:
        url: http://172.18.0.2:7054
        certificate: |
              -----BEGIN CERTIFICATE-----
              MIICLTCCAdSgAwIBAgIRAIsMmIzDuUtxoQyvCYagQxowCgYIKoZIzj0EAwIwYzEL
              MAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExFjAUBgNVBAcTDVNhbiBG
              cmFuY2lzY28xETAPBgNVBAoTCG9yZzEubmV0MRQwEgYDVQQDEwtjYS5vcmcxLm5l
              dDAeFw0xNzA1MTYwMTM5MDFaFw0yNzA1MTQwMTM5MDFaMGMxCzAJBgNVBAYTAlVT
              MRMwEQYDVQQIEwpDYWxpZm9ybmlhMRYwFAYDVQQHEw1TYW4gRnJhbmNpc2NvMREw
              DwYDVQQKEwhvcmcxLm5ldDEUMBIGA1UEAxMLY2Eub3JnMS5uZXQwWTATBgcqhkjO
              PQIBBggqhkjOPQMBBwNCAAQl6aGXgoxU/CCpcokDTk8eL1wsI0ZK+jkA3j493U+Z
              /JiV/VJfwhqY7B6j7/gYIhx4SYGkZl3OH1zW7T4m0Nvfo2kwZzAOBgNVHQ8BAf8E
              BAMCAaYwGQYDVR0lBBIwEAYEVR0lAAYIKwYBBQUHAwEwDwYDVR0TAQH/BAUwAwEB
              /zApBgNVHQ4EIgQgVCGLWgRE7eXKGxolbWK8/URGx3IWHV7EBbA7vmHs29swCgYI
              KoZIzj0EAwIDRwAwRAIgK9S+pLiM1NIiFySGD9PWgD1bJ13/OKiv2v7LRhphaPAC
              IFwZXBEGpE+a8s+/Y5mkWgk0uTJ3GrGHMu0abLewhbUV
              -----END CERTIFICATE-----

orderer: grpc://172.18.0.3:7050

peers:
       - api: grpc://172.18.0.4:7051
         events: grpc://172.18.0.4:7053
         hostname: peer1
       - api: grpc://172.18.0.7:7051
         events: grpc://172.18.0.7:7053
         hostname: peer2
       - api: grpc://172.18.0.6:7051
         events: grpc://172.18.0.6:7053
         hostname: peer3
       - api: grpc://172.18.0.5:7051
         events: grpc://172.18.0.5:7053
         hostname: peer4

identity:
        principal: Admin@org1.net
        mspid: Org1MSP
        privatekey: |
              -----BEGIN PRIVATE KEY-----
              MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgEqwSyah0jmfNlBNT
              FpOk92sgh7Y1orSfazJLyGzm8uGhRANCAASYiTGsG9mbF/dWoFl0BtO1U+Eg6/Ix
              xCrlISteUyg8iKcOh3+RzSECf9FArPhFKBmhXWI+uI0DX1rBRiQrhaT/
              -----END PRIVATE KEY-----
        certificate: |
              -----BEGIN CERTIFICATE-----
              MIICFjCCAbygAwIBAgIQdPzxXwIdeAG2+BZOf7o3nDAKBggqhkjOPQQDAjBjMQsw
              CQYDVQQGEwJVUzETMBEGA1UECBMKQ2FsaWZvcm5pYTEWMBQGA1UEBxMNU2FuIEZy
              YW5jaXNjbzERMA8GA1UEChMIb3JnMS5uZXQxFDASBgNVBAMTC2NhLm9yZzEubmV0
              MB4XDTE3MDUxNjAxMzkwMVoXDTI3MDUxNDAxMzkwMVowUzELMAkGA1UEBhMCVVMx
              EzARBgNVBAgTCkNhbGlmb3JuaWExFjAUBgNVBAcTDVNhbiBGcmFuY2lzY28xFzAV
              BgNVBAMMDkFkbWluQG9yZzEubmV0MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE
              mIkxrBvZmxf3VqBZdAbTtVPhIOvyMcQq5SErXlMoPIinDod/kc0hAn/RQKz4RSgZ
              oV1iPriNA19awUYkK4Wk/6NiMGAwDgYDVR0PAQH/BAQDAgWgMBMGA1UdJQQMMAoG
              CCsGAQUFBwMBMAwGA1UdEwEB/wQCMAAwKwYDVR0jBCQwIoAgVCGLWgRE7eXKGxol
              bWK8/URGx3IWHV7EBbA7vmHs29swCgYIKoZIzj0EAwIDSAAwRQIhAKNY5uBqnxlU
              2QQKc7bdlk9w/V2IAhiTutkxlwyqBF3WAiAnnE8bdS+rIqk6uVe3Gt3/YCAmWkKD
              NwQb3YVjtoAyEg==
              -----END CERTIFICATE-----
